<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.min.js"></script>
</head>
<body>
    <div id="app">
        <input 
            @keydown.enter="addTask"
            class="edit"
            type="text" 
            v-model="task.content"
            placeholder="输入任务">

        <div class="list">
        <div class="unit" v-for="(item,index) in list">
            <input type="checkbox"
                   @click="changeState(index)"
                   :checked="item.finished">
            <span :class="{'finish':item.finished}">{{item.content}}</span>
            <button @click="removeTask(index)"
                    class="del">
                删除    
            </button>
        </div>
        <p v-if="list.length === 0" class="empty">暂无任务</p>
        </div>
    </div>
    
    

    <script>
    const app = new Vue({
        el:"#app",
        data:{
            task:{
            content:'',
            finished:false,
            // deleted:false
            },
        list:[]
        },
        methods:{
            addTask:function(){
                this.list.push(this.task);
                this.task = {
                    content:'',
                    finished:false,
                    // deleted:false
                }
            },
            changeState:function(index){
                let curState = this.list[index].finished;
                this.list[index].finished = !curState;
            },
            removeTask(index){
                this.list.splice(index,1);
            }
        }
        
    });




    </script>
</body>
</html>